  <!DOCTYPE html>
  <html>
  <head>
    <title>GEMEINSAMEKOCHBUCH</title>
    <link href="css/bootstrap.css" rel="stylesheet">
    <script src="js/bootstrap.js"></script>
   <!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->

    <div class= "container">
      <div id="logo">
          <p>
            <img src="/images/logo.png" alt="tort 1" width="220" height="120">
            <img src="/images/logo.png" alt="tort 2" width="220" height="120">
            <img src="/images/logo.png" alt="tort 3" width="220" height="120">
            <img src="/images/logo.png" alt="tort 4" width="220" height="120">
            <img src="/images/logo.png" alt="tort 5" width="220" height="120">
          </p>
        </div>
    </div>

    <div >
      <nav>
        <ul class="nav nav-pills col-sm-offset-1">
          <a href="/login" class="btn btn-default"><span class="fa fa-sign-in"></span> Login</a>
          <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Signup</a>
        </ul>
      </nav>
  </div>
  </head>

