<head>
    <title>Gemeinsameskochbuch</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href="../../css/bootstrap.css" rel="stylesheet">
   <script src="../../js/bootstrap.js"></script>
    <!--  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
    <style>
        /* I use code from  https://startbootstrap.com/template-categories/blogs/
        /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
        .row.content {height: 1500px}
        /* Set gray background color and 100% height */
        .sidenav {
            background-color: #f1f1f1;
            height: 100%;
        }
        /* Set black background color, white text and some padding */
        footer {
            background-color: #555;
            color: white;
            padding: 15px;
        }

        /* On small screens, set height to 'auto' for sidenav and grid */
        @media screen and (max-width: 767px) {
            .sidenav {
                height: auto;
                padding: 15px;
            }
            .row.content {height: auto;}
        }
    </style>
</head>
<div class="container-fluid">
    <div class="row content">
        <div class="col-sm-3 sidenav">
            <h3>Gemeinsameskochbuch</h3>
            <br>
            <h4><span class="label label-default"><strong>user name</strong>:<%= user.local.email ? user.local.email : '' %></span></h4>
            <br>
            <ul class="nav nav-pills  nav-stacked ">
                <li> <a href="/logout">LOGOUT</a></li>
                <li><a href="/profile"> HOME</a></li>
                 <li><a href="/addRezept"> ADD Rezept</a></li>
                <li><a href="/findRezept">FIND Rezept</a></li>
                <li><a href="/rezeptList">LIST  Rezepts by date </a></li>
                <li><a href="/userAktivList">LIST Users by name</a></li>
            </ul>
            <br>

            <div class="input-group">
                <form method="POST"  action="/findUserRezept">
                     <span class="fa fa-search">Find</span>
                    <input type="text" class="form-control" name="user"   size="25" placeholder="Search Rezept by user.." >
                </form>
            </div>
            <br>

            <div class="input-group">
                <form method="POST"  action="/findTypRezept">
                    <select class="ui fluid dropdown" name="rezeptTyp"    id="rezeptTyp">
                        <% for(var i=0; i<typ.length; i++) {%>
                        <option  value="<%= typ[i]%>"> <%= typ[i]%> </option>
                        <% } %>
                    </select>
                <button class="ui button" type="submit"> <span class="fa fa-search">Find by Typ</span></button>
                </form>
            </div>
</div>

