<head>
    <title> Error  </title>
</head>
<% include partials/head %>

  <body>
      <div class="col-sm-10 col-sm-offset-1">
      <div class="text-center">
        <h1><%= error.status %>: <%= message %></h1>
        <pre><%= error.stack %></pre>
        <a href="/" class="btn btn-default"><span class="fa fa-home"></span> Home</a>
      </div>
    </div>
  </body>

