<!DOCTYPE html>
<html>
<head>
          <title> Find Rezept  </title>
</head>
<%- include('partials/home') %>
<body>
    <div class="col-sm-9">
        <br> <caption>FIND REZEPT</caption></br>
        <hr>
             <div class="jumbotron text-left">
                 <form method="POST"  action="/findRezept">
                    <p>Rezepts author:
                        <input type="text"
                               name="user"
                               id="rezeptName"
                               size="25" required  >
                    </p>

                     <p>Rezepts Kochzeit bis:
                         <input type="text"
                                pattern="^\$?([0-9]{1,3},([0-9]{3},)*[0-9]{3}|[0-9]+)(.[0-9][0-9])?$"
                                name="kochZeit"
                                id="kochZeit"
                                size="5" required /> min.
                     </p>

                     <div class="input-group">
                         <select class="ui fluid dropdown" name="rezeptTyp"    id="rezeptTyp">
                             <% for(var i=0; i<typ.length; i++) {%>
                                 <option  value="<%= typ[i]%>"> <%= typ[i]%> </option>
                             <% } %>
                        </select>
                     </div>
                    <center><button class="ui button" type="submit">Rezepts list schow</button></center>
                </form>

             </div>
        </div>
    </body>
