<!doctype html>
    <head>
         <title> Edit Rezept  </title>
    </head>
<%- include('partials/home') %>

    <body>
        <div class="col-sm-9">
            <br> <caption>EDIT REZEPT</caption>
              <hr>
                <div class="jumbotron text-left">
                     <% if (message != null) { %>
                            <div class="alert-danger"><%= message %></div>
                     <% } %>
                    <form method="POST" action="/edit/<%= rezept.id %>">
                        <p>Rezepts name:
                            <input type="text"
                                   name="rezeptName"
                                   id="rezeptName"
                                   size="25"
                                   value="<%=rezept.rezeptName %>" required />
                        </p>

                         <p>Rezepts Kochzeit:
                             <input type="text"
                                    pattern="^\$?([0-9]{1,3},([0-9]{3},)*[0-9]{3}|[0-9]+)(.[0-9][0-9])?$"
                                    name="kochZeit"
                                    id="kochZeit"
                                    size="5"
                                    value="<%= rezept.kochZeit %>" required/>
                         </p>

                         <p>Rezept Description: <br />
                        <div class="form-group">
                        <label for="rezeptBeschreibung">Rezept Ingradients::</label>
                             <br><h6>Input divide with "," please!></h6>
                              <input type="text"
                                     class="form-control"
                                     name="rezeptIngradients"
                                     cols 50 rows="1"
                                     required value=<%= ingradient%>  >

                        </div>

                        <p>Rezept Description: <br />
                        <div class="input-group">
                            <textarea name="rezeptBeschreibung" id="rezeptBeschreibung" cols="100"
                                      rows="5"><%= rezept.rezeptBeschreibung %></textarea>
                        </div>
                        <p>
                         <input type="submit" name="submit" id="submit" value="Submit"/>
                         <input type="reset" name="reset" id="reset" value="Reset"/>
                </p>
            </form>
        </div>
        </div>
</body>
