<!DOCTYPE html>
    <html>
        <head>
          <title> Add Rezept  </title>
        </head>
<%- include('partials/home') %>

    <body>
    <br> <caption>ADD NEU REZEPT</caption></br>
        <hr>

        <div class="col-sm-9">
            <div class="jumbotron text-left">
                 <% if (message != null) { %>
                 <div class="alert-danger"><%= message %></div>
                <% } %>
                    <form action="/addRezept" method="POST">
                         <label for="rezeptName">Rezeptname:</label>
                             <input type="text"
                                    class="form-control"
                                    name="rezeptName"
                                    size="25"
                                    required value=<%= rezept.rezeptName%>  >
                         <label for="rezeptTyp">Rezept Typ:</label>
                             <select class="ui fluid dropdown" name="rezeptTyp"    id="rezeptTyp">
                                 <% for(var i=0; i<typ.length; i++) {%>
                                    <option   value="<%= rezept.rezeptTyp%>"> <%= rezept.rezeptTyp%> </option>
                                     <option   value="<%= typ[i]%>">   <%= typ[i]%>   </option>
                                 <% } %>
                             </select>

                        <label for="kochZeit">Kochzeit   :</label>
                             <input type="text"
                                     pattern="^\$?([0-9]{1,3},([0-9]{3},)*[0-9]{3}|[0-9]+)(.[0-9][0-9])?$"
                                     name="kochZeit"
                                     id="kochZeit"
                                     size="5"
                                     required value=<%= rezept.kochZeit%>  > Min.
                        <p></p>
                         <div class="form-group">
                         <label for="rezeptIngradients">Rezept Ingradients::</label>
                                 <br>
                                <h6>Input divide with "," please!></h6>

                                <input type="text"
                                       class="form-control"
                                       name="rezeptIngradients"
                                       cols 50 rows="1"
                                       value=<%= rezeptIngradients%>  >

                         </div>
                        <p>Rezept Description: <br />
                            <div class="input-group">
                            <textarea name="rezeptBeschreibung" id="rezeptBeschreibung" cols="100"
                                      rows="5"> <%= rezept.rezeptBeschreibung %></textarea>
                        </div>
                        <p>

                            <!--<input type="hidden" value="put" name="_method" />-->

                            <input type="submit" name="submit" id="submit" value="Submit"/>
                            <input type="reset" name="reset" id="reset" value="Reset"/>
                        </p>
                    </form>


                </div>
            </div>
        </body>

    </html>



