<!DOCTYPE html>
<html>
<head>
       <title> bewewrtung Rezept: <%= rezept.rezeptName %> </title>
</head>
<%- include('partials/home') %>
<div class="col-sm-9">
  <body>
    <h2> <%= rezept.rezeptName %></h2>
        <div class="jumbotron text-left">
        <hr>
            <div class="input-group">
                 <form method="POST"  action="/bewertung">
                    <input type="hidden"
                       name=rezptName
                       value=<%= rezept.rezeptName%> >
                    <input type="hidden"
                       name=user
                       value=<%= user.name%> >
                    <div class="form-group">
                        <label for="rezeptBwertung">Rezept Bewertung:</label>
                        <textarea
                            class="form-control"
                            cols 100 rows="5"
                            name="rezeptBewertung"
                            placeholder="......">

                        </textarea>
                    </div>
                    <button class="ui button" type="submit"> <span class="fa fa-search">Bewerten</span></button>
                 </form>
            </div>
    </div>
    </body>
    </div>

</html>



