<% include partials/head %>

<head>
  <title>GEMEINSAMESKOCHBUCH</title>
</head>
  <body>

    <div class="col-sm-10 col-sm-offset-1">
      <div class="jumbotron text-center">
        <h1>GEMEINSAMESKOCHBUCH</h1>
        <p class="lead">Rezepte lesen, schreiben und suchen </p>
      </div>
      <p>WS2016 </p>
    </div>
  </body>
</html>
