<% include partials/home %>
<div class="col-sm-9">
<head>
    <title>Update result</title>
</head>
<body>

    <h2><small>Update result:  <strong> <%= rezept.rezeptName %></strong> </small></h2>
    <hr>
        <div class="jumbotron text-left">

                <ul>

                    <li>Kochzeit: <%= rezept.kochZeit %></li>
                    <li>Rezept Typ: <%= rezeptTyp %></li>
                    <li>Zutaten: <%= ingradient %></li>
                    <li>Beschreibung: <%= rezept.rezeptBeschreibung %></li>
                </ul>
        </div>
</body>



















