<head>
    <meta charset="utf-8" />
    <title> <%=title%>   </title>

</head>
<% include partials/home %>


<div class="col-sm-9">
    

       <body>
        <h2><small> REZEPTS LIST</small></h2>
        <hr>
        <div class="jumbotron text-left">
            <% if (message != null) {  %>
                <div class="alert-danger"><%= message %></div>
            <% } %>
             <% if (rezepts.length) { %>
                <table class="table-sm table-striped table-bordered" width="100%" cellspacing="0">
                    <tr><th>Rezept Name</th><th>Rezept Typ </th><th>Kochzeit</th><th>Author</th><th>Bewertungen</th><th>Schnelle Delete</th></tr>
                        <% rezepts.forEach(function(rezepts){ %>
                             <tr>
                                <td class="link"><a href="/bearbeiten/<%= rezepts.id %>"><%= rezepts.rezeptName %> </a> </td>
                                <td ><%= rezepts.rezeptTyp %>  </td>
                                 <td><%= rezepts.kochZeit %>    </td>
                                 <td><%= rezepts.user %>        </td>
                                 <td class="link"><a href="/rezeptListewertungen/<%= rezepts.id %>">Bewertungen </a> </td>
                                 <td class="btn btn-link"><a href="/delete/<%= rezepts.id %>">Delete</a>  </td>
                            </tr>
                         <%})%>
                </table>
            <%}%>

        </div>
    </body>
</div>
