<!doctype html>
<html lang="en">
<head>
    <title> AtartRezeptList  </title>
</head>
<%- include('partials/home') %>
<div class="col-sm-9">
    <h4><small> LAST REZEPTS of 5 DAYs</small></h4>
    <hr>
   
            <body>
            <% if (message != null) {  %>
            <div class="alert-danger"><%= message %></div>
            <% } %>
                    <% if (rezepts.length) { %>
                    <% rezepts.forEach(function(rezepts){ %>
                        <h2> <a class="link" href="/bearbeiten/<%= rezepts.id %>"><%= rezepts.rezeptName %> </a> </h2>
                        <h5><span class="glyphicon glyphicon-time"></span> <strong><%= rezepts.user %> </strong>, <%= rezepts.updated_at %></h5>
                        <h5><span class="label label-danger">typ:<%= rezepts.rezeptTyp %></span>
                             <span class="label label-primary">Kochzeit:<%= rezepts.kochZeit %> Min</span></h5><br>
                        <p><%= rezepts.rezeptBeschreibung %>
                        <br><br>
                    <% })} %>

            </body>
   </div>
