<!doctype html>
<html lang="en">
<head>
      <title> Reztepts feedback  </title>
</head>
<% include partials/home %>

<div class="col-sm-9">
    <h4><small> BEWERTUNGEN DES REZEPTS : </small> <%= rezept.rezeptName %></h4>
    <hr>
        <body>
            <% if (message != null) { %>
                 <div class="alert-danger"><%= message %></div>
            <% } %>

             <% if (bewertungs.length) { %>
                 <% bewertungs.forEach(function(bewertungs){ %>
                     <h5><span class="glyphicon glyphicon-user"></span> <strong><%= bewertungs.user %> </strong></h5>
                     <p><%= bewertungs.rezeptBewertung %>
                    <br><br>
                 <%})%>
           <%}%>

       </body>
</div>
