<!doctype html>
<head>
    <title> <%=title%>  </title>
</head>
<% include partials/home %>
<div class="col-sm-9">

    <body>
    

    <h2><caption>Users List</caption></h2>
    <hr>
            <div class="jumbotron text-left">
                    <% if (message != null) { %>
                        <div class="alert-danger"><%= message %></div>
                     <% } %>

                <table class="table-sm table-striped table-bordered" width="100%" cellspacing="0">
                     <tr><th>Users Name</th><th> Status </th></tr>
                        <% users.forEach(function(users1){ %>
                            <tr>
                                 <td class="link"><a href="/findUser/<%= users1.name %>"><%= users1.name %> </a> </td>
                                 <td><%= users1.status %></td>
                            </tr>
                        <% }) %>
                </table>
            </div>

    </body>
</div>