<head>
   <title> <%=title%>  </title>
</head>
<% include partials/head %>
  <body>
    <div class="col-sm-10 col-sm-offset-1">
      <div class="jumbotron text-center">
              <% if (message != null) { %>
          <div class="alert-danger"><%= message %></div>
        <% } %>
        <form action=<%= action%> method="post">
          <div class="form-group">
              <h4> Use you E-mail as login name</h4>
            <% if (fields.length) { %>
            <% fields.forEach(function(field){ %>
            <label><%= field.name %></label>
            <input type="<%= field.type %>" class="form-control" name="<%= field.name %>"
                    <% if (field.property) { %> <%= field.property %> <% } %> >
            <% }) %>
            <% } %>
          </div>
          <button type="submit"><%=title%></button>
        </form>
             </div>
          </div>
  </body>
</html>
