<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title> <%=title%>  </title>
    </head>

    <% include partials/home %>

    <div class="col-sm-9">
        <body>
        

        <h2><small> VIEW :  <%= rezept.rezeptName %> </small></h2>
        <hr>
            <div class="jumbotron text-left">
                   <br>
                        <a class="btn btn-default"   href="/delete/<%= rezept._id%>"> delete</a>
                        <a class="btn btn-default" href="/edit/<%= rezept._id%>"> Edit</a>
                        <a class="btn btn-default" href="/profile"> Home</a>
                        <a class="btn btn-default" href="/rezeptList"> zu Rezeptslist</a>
                    <br>
                         <ul>
                            <li>Kochzeit: <%= rezept.kochZeit %></li>
                            <li>Beschreibung: <%= rezept.rezeptBeschreibung %></li>
                            <li>Rezept Typ: <%= rezept.rezeptTyp %></li>
                            <li>Rezept Author: <%= rezept.user %></li>
                        </ul>

                        <div class="input-group">
                            <form method="POST"  action="/bewertung">
                                <input type="hidden"
                                       name=rezeptName
                                       value=<%= rezept.rezeptName%> >
                                <input type="hidden"
                                       name=user
                                       value=<%= user.name%> >
                                 <div class="form-group">
                                        <label for="rezeptBewertung">Rezept Bewertung:</label>
                                        <textarea class="form-control"
                                                  cols 100 rows="5"
                                                  name="rezeptBewertung"
                                                  placeholder="......">
                                        </textarea>
                                 </div>
                    <button class="ui button" type="submit"> <span class="fa fa-search">Bewerten</span></button>
                </form>
            </div>
        </div>
    </body>
</div>

</html>
